<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="assets/css/signup.css">
<body>
    <form class="box" action="/admin-login" method="POST" id="formvalidation">
        <h1>Admin Login</h1>   
        <% if(Emailerr){%>
            <p style="color: red;">Email Id Already Exist</p>
            <%}%>
        <input type="text" placeholder="Email" name="Email"required>
        <input type="password" placeholder="Password" name="Password"required>
        <input type="submit" value="Login" placeholder="Login">
        <!-- <div><a href="/signup">Don't have an account?</a></div>
        <div style="color:rgb(247, 245, 242);">or</div>
        <a href="/otplogin">Login With OTP</a> -->
    </form>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script>
        jQuery('#formvalidation').validate({
            rules: {
                Email: {
                    required: true,
                    email:true,
                },
                Password: {
                    required: true,
                    minlength: 3
                }
            }, messages: {
                Email: {
                    required: "Please enter email",
                    Email: "Please enter valid email",
                },
                Password: {
                    required: "Please enter your password",
                    minlength: "Password must be 3 char long"
                }
	},
            submitHandler: function (form) {
                form.submit();
            }
}); 
    </script>
</body>
</html>
</head>

</html>